.prof_register-container {
    height: 650px;
    width: 500px;
    border-radius: 10px;
    background: lightblue;
    margin: 75px auto;
    padding: 20px;
}

.prof_register-form {
    height: 100%;
    width: 100%;
}

.prof_register-input {
    background-color: lightblue;
    border: none;
    height: 50px;
    font-size: 30px;
    margin: 20px 0;
    border-bottom: 2px solid lightblue;
}

.prof_register-input:focus{
    outline-width: 0;
    border-bottom: 2px solid black;
}     

/* .btn btn-secondary {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    color: #282c34;;
    background: white;
    margin: 20px;
}

.btn btn-secondary:focus{
    outline-width: 0;
}

.btn btn-secondary:hover{
    cursor: pointer;
    background: whitesmoke;
}

.btn btn-primary float-right {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    color: #282c34;;
    background: white;
    margin: 20px;
}

.btn btn-primary float-right:focus{
    outline-width: 0;
}

.btn btn-primary float-right:hover{
    cursor: pointer;
    background: whitesmoke;
} */

.prof_register-error{
    color: red;
    font-size: 20px;
}