.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ============ Navigation Styling =========== */
.nav-container {
  background-color: #282c34;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-links {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
  background-color: #4f596d;
  padding: 10px;
  border-radius: 6px;
}

.nav-links:hover {
  background: #434c5f;
}

nav h1 {
  color: white;
  margin-left: 1rem;
}

/* ============ [END] Navigation Styling =========== */

/* ============ Professor Dashboard Styling ======== */

.dashboard-main-container {
  background: #f5f5f5;
  height: 835px;
}

.dashboard-title {
  padding: 3rem;
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.363)),
    url("https://images.pexels.com/photos/3184328/pexels-photo-3184328.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: rgb(15, 15, 15);
}

.box-task-container {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  flex-wrap: wrap;
}

.box-task {
  background: #ffffff;
  width: 300px;
  height: auto;
  margin-top: 1rem;
  border-radius: 20px;
  border: 1px solid #eeeded;
}

.box-task-1 {
  background: #ffffff;
  width: 300px;
  height: 180px;
  margin-top: 1rem;
  border-radius: 20px;
  border: 2px solid #eeeded;
}

.box-task-2 {
  background: #ffffff;
  width: 300px;
  height: 355px;
  margin-top: 1rem;
  border-radius: 20px;
  border: 2px solid #eeeded;
}
.box-title {
  font-size: 24px;
  font-weight: 500;
}

.task-count-circle {
  font-size: 3rem;
}

.task-welcome-name {
  position: relative;
  bottom: 28px;
  font-size: 3rem;
}

.reminder-list-container {
  width: 85%;
  margin: auto;
}

.reminder {
  padding: 10px;
  background: #495b80;
  color: white;
  border-radius: 4px;
  border-left: 10px solid #37486b;
}

.box-button {
  background: #495b80;
  border: none;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  width: 50%;
  justify-content: center;
  border: 3px solid #37486b;
}

.box-button-logout {
  text-decoration: none;
  color: #4f596d;
  font-size: 18px;
  font-weight: 600;
}

/* ++++++++++++++++++  SIGN OUT PAGE STYLES ++++++++++++++++++++ */

.signout-image {
  margin-top: 3rem;
}
